main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 40px;
}

.drinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 40px;
}

.content {
  grid-area: content;
}

.title {
  display: grid;
  grid-area: title;
  font-weight: 700;
  font-size: 30px;
  color: var(--red_wine);
  text-align: center;
}

.drinks {
}
