.drinks {
  margin-top: 80px;
  display: grid;
  width: 80%;
  justify-self: center;
  grid-template-areas:
    "title title"
    "half1 half2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px auto;
  grid-gap: 20px;
  gap: 20px;
}

.content {
  grid-area: content;
}

.titleSobre {
  display: grid;
  grid-area: title;
  font-weight: 700;
  font-size: 30px;
  color: var(--red_wine);
  text-align: center;
}
