.containerImg {
  grid-area: content;
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../../img/bgHome.jpg") no-repeat 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.logo {
  font-family: var(--fontLogo);
  color: white;
  align-self: center;
  font-size: 120px;
  font-weight: bold;
  margin-top: 10px;
  animation-name: zoom;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  from {
    font-size: 50px;
  }
  to {
    font-size: 120px;
  }
}
