.buscarDrinks {
  grid-area: content;
  display: grid;
  grid-template-areas: "cabecalio" "conteudo-Drink";
  grid-template-rows: 3fr 5fr;
}

.cabecalho {
  grid-area: cabecalho;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.conteudo {
  grid-area: conteudo-Drink;
}
