.bgColor{
    background-color: #fffdf8;
    color: #1c121f;
}

/* Brand color */
.primary-brand {
    background-color: #626a7f;
}

.primary-brand-dark {
    background-color: #3d465e;
}

.secondary-brand {
    background-color:#f69050;
}

.secondary-brand-dark {
    background-color: #e0712c;
}


/* Highlight */
.highlight {
    background-color: #59d89b;
}

.highlight-dark {
    background-color: #2da069;
}

.hightlight-darkest {
    background-color: #3b5757;
}

.highlight-secondary {
    background-color: #a0505a;
}


/* Alerts */
.success {
    background-color: #53bf85;
}

.info {
    background-color: #507ef6;
}

.warning {
    background-color: #f6c850;
}

.danger {
    background-color: #f65050;
}


/* Grayscale */
.lightest {
    background-color: #ffffff;
}

.light {
    background-color: #fff9f0;
}

.medium {
    background-color: #f5e4d4;
}

.medium-plus {
    background-color: #bec6dd;
}

.dark {
    background-color:#8d98b4;
}

.darkest {
    background-color: #1c121f;
}

