.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  background-color: var(--bg_bege);
  z-index: 1;
}

.texto {
  font-size: medium;
}
