.time {
  width: 100vw;
  grid-area: content;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleTime {
  margin: 40px auto;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 20px;
}

.linha1 {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.linha2 {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.textBox {
  width: 15px;
  height: 150px;
}
