.time {
  width: 100vw;
  grid-area: content;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleTime {
  text-align: center;
}

.cards {
  display: flex;
  margin: 80px 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  display: flex;
}
