/* Variáveis de cor - Paleta */
:root {
  --white: #ffffff;
  --bg: #fffdf8;
  --black: #2e2e2e;
  --red_wine: #af0118;
  --orange: #fb8320;
  --fontLogo: "Bilbo Swash Caps", cursive;
  --fontTitle: "Open Sans Condensed", sans-serif;
  --fontBody: "Open Sans Condensed", sans-serif;
}

/* Config. Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 8vh 87vh 5vh;
}
