:root {
  --white: #ffffff;
  --bg: #fffdf8;
  --bg_bege:#fffbef;
  --black: #2e2e2e;
  --red_wine: #af0118;
  --orange: #fb8320;
  --fontLogo: "Bilbo Swash Caps", cursive;
  --fontTitle: "Open Sans Condensed", sans-serif;
  --fontBody: "Open Sans", sans-serif;
}

/* Config. Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
